<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Stats</title>
    <link href="layout.css" rel="stylesheet" type="text/css">
    <script language="javascript" type="text/javascript" src="/b/js/flot/jquery.js"></script>
    <script language="javascript" type="text/javascript" src="/b/js/flot/jquery.flot.js"></script>
    <script language="javascript" type="text/javascript" src="/b/js/flot/jquery.flot.navigate.js"></script>
 </head>
    <body>
<h1>Statistiques</h1>
<div id="placeholder" style="width:1000px;height:500px;"></div>


		
<script type="text/javascript">		
 $.plot($("#placeholder"), [ <%=JSON.parse(@histogramme)['facets']['time']['entries'].collect { |t| [t['time'], t['count']]}%> ],
 { xaxis: { mode: "time" },
 zoom: {
   interactive: true
 },
 pan: {
   interactive: true
 }});
</script>

<ul>


<% 
   require 'json'
   n=1;

   r = JSON.parse(@stats)['facets']['logins']['terms'].collect { |h|
%>
   <li>[<%=n%>] Login: <%=h['term']%> => <%=h['count']%></li>
<%
   n = n + 1
      }
%>
</li>
</ul>

 </body>
</html>
